@import "globals/reset";
@import "globals/vars";
@import "globals/mixins";
@import "sections/hero";
@import "sections/media";
@import "sections/main";
@import "sections/footer";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');


.page-container{
    width: 90%;    
    margin: 0 auto;
}
