.appInput {
  min-width: 150px;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  margin: 4px;
}

.error {
  font-size: 12px;
  color: red;
  text-align: left;
  padding-left: 6px;
}