body {
    background: #F2F2F2;

}

.container {
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #313131;

}

.navbar-logotype {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotype-picture {
    padding: 0 27px;
}

.logotype-text {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
}

.navbar-menu-item {
    display: inline;
    text-transform: uppercase;
    margin: 0 35px;

}

.menu-item-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
}

.menu-item-link:hover {
    color: #14B9D5;
}

.navbar-search {
    padding: 27px 30px;
    background-color: #000;

}

.hero-background {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);

}

.hero {
    background: url(../IMG/header-bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.background-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;


}

.background-text {
    padding-top: 163px;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #fff;
}

.background-btn {
    padding-top: 60px;
    padding-bottom: 74px;
}

.background-btn-green {
    margin: 0 10px;
    width: 170px;
    padding: 16px 19px;
    border-radius: 5px;
    border: none;
    background: #89CA62;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
}

.background-btn-blue {
    margin: 0 10px;
    width: 170px;
    padding: 16px 19px;
    border-radius: 5px;
    border: none;
    background: #14B9D5;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
}

.content-title {
    text-transform: uppercase;
    padding: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
}

.content-blog {
    width: 1170px;
    height: 850px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}


.content-blog-card {
    width: calc((100% / 3) - 30px);
    margin-bottom: 30px;
    background: #fff;

}

.blog-card-photo {
    width: 100%;
    margin-bottom: 20px;

}

.blog-card-text {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 20px;

}

.clients {
    height: 588px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 260px 2px 230px;
    background: url(../IMG/clients-background.jpg);
}

.clients-title {
    grid-column: 2;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
}

.title-line {
    grid-column: 2;
    grid-row: 2;
    width: 60px;
    border-bottom: 1px #18B4CF solid;
    margin: 0 auto;
}

.clients-logotypes {
    display: grid;
    grid-row: 3;
    grid-column: 2;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 58px;
}

.rating-galery {
    display: grid;
    grid-auto-flow: column;

}
.galery-photo {
    width: 100%;

}

.content-news {
    width: 100%;
    background: #fff;
    padding-bottom: 77px;

}

.news-cards {
    width: 1168px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 259px 1fr 259px;
    grid-gap: 42px;



}

.news-cards-top {
    grid-row: 1/ span 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 35px;
}

.news-card {
    grid-column: 1/ span 3;
    grid-row: 1;
    display: grid;
    grid-template-columns: 483px 373px;
    grid-template-rows: repeat(5, 52px);
    background: #F9F7F7;


}

.news-card-photo {
    width: 100%;
    grid-row: 1;

}

.news-card-title {
    grid-row: 2;
    grid-column: 2;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    padding-right: 20px;

}

.news-card-text {
    padding-right: 20px;
    text-align: right;
    grid-row: 3;
    grid-column: 2;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}


.news-card-little {
    width: 277px;
    grid-column: 4/ span 1;
    display: grid;
    background: #F9F7F7;

}

.news-card-little-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

}

.news-cards-meadle {
    grid-row: 2/ span 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 42px;

}

.news-card-big {
    display: grid;
    grid-template-rows: repeat(3, auto);
    text-align: right;
    background: #F9F7F7;

}

.news-card-photo-big {
    width: 100%;
}

.news-card-big-title {
    margin-top: 12px;
    padding: 0 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

}

.news-card-big-text {
    margin-top: 15px;
    padding: 0 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.news-cards-bottom {
    grid-row: 3/ span 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 35px;
}

.news-card-little-bottom {
    grid-column: 1/ span 1;
    grid-row: 1;
    background: #F9F7F7;
}

.news-card-bottom {
    grid-column: 2/ span 3;
    grid-row: 1;
    display: grid;
    grid-template-columns: 483px 373px;
    grid-template-rows: repeat(5, 52px);
    background: #F9F7F7;
}

.big-left {
    grid-column: 1/ span 2;
    grid-row: 1;
}

.big-right {
    grid-column: 3/ span 2;
}

.big-left-bottom {
    grid-column: 1/ span 2;

}

.big-right-bottom {
    grid-column: 3/ span 2;
}





.bottom {
    background-color: black;
}

.bottom-content {
    width: 1168px;
    padding: 30px 0;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.bottom-text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #fff;
}

.bottom-logo {

    width: 105px;
    padding-left: 300px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}