* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;

}

.container {
	width: 1145px;
	margin: 0 auto;
	text-align: center;


}

.hero {
	margin-top: 25.5px;
	margin-bottom: 25.5px;

}

.main-nav {
	width: fit-content;
	display: inline-block;
}

.main-nav li {
	display: inline;
	margin: 0px 36px 0px;
}

.main-nav-item {
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 2.7px;
	text-transform: uppercase;
	color: #FF0000;
}

.content {
	width: 1280px;
	align-items: center;
	margin: 0 auto;

}

.content-photo {
	width: 1280px;
	height: 789px;
}

.main-title {
	margin-top: 48px;
	margin-bottom: 38px;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: 3.3px;
	text-transform: uppercase;
	color: #373737;
}

.paragraph {
	text-indent: 4px;
	margin-bottom: 28px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 2.4px;
	color: #373737;
}

.container-btn {
	margin-top: 66px;
	background: #FF0000;
	border-radius: 4px;
	width: 191px;
	height: 51px;
	border: none;
}

.container-btn a {
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	text-decoration: none;
	letter-spacing: 1.8px;
	text-transform: uppercase;
	color: #FFFFFF;
}

footer {
	width: 1070px;
	margin: 0 auto;
	text-align: right;
	padding-top: 82px;
	padding-bottom: 29px;
}

.footertext {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2.4px;
	color: #373737;
}