@mixin montBold {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}
@mixin montNorm{
    font-family: Montserrat;
    font-style: normal;
    font-weight: norm;
}
@mixin latoBold {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
}
@mixin latoNorm {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
}
@mixin latoItal {
    font-family: Lato;
    font-style: italic;
    font-weight: bold;
}
@mixin bgPosition {
    background-position: center;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}
