@media (min-width: 768px) {
    .hero-nav {
        justify-content: center;
        &__dropbtn {
            display: none;
        }

        &__dropdown-content {
            width: 80%;
            max-width: 1170px;
            min-width: 568px;
            background-color: unset;
            box-shadow: unset;
            position: unset;
            display: flex;
            justify-content: space-between;
            padding: 5.138%;
        }

        &__dropdown-content a {
            font-size: 14px;
        }

        &__dropdown-content a:hover {
            background-color: unset;
        }
    }

    .main {
        h1 {
            font-size: 16px;
        }

        &__post {
            max-height: unset;
            display: grid;
            grid-auto-flow: column;
            grid-gap: 19px;
        }

        &__post-text h3 {
            font-size: 16px;
        }
    }

    .bottom {
        &__container h2 {
            font-size: 16px;
        }

        &__slogan {
            max-width: auto;

        }

        &__text {
            display: none;


        }

    }
}


@media (min-width: 1200px) {
    .main {
        &__content-posts {
            grid-template-columns: 1fr 1fr;
        }
    }

    .bottom {
        &__container {
            max-width: 684px;
        }
    }

}





@media (max-width: 768px) {
    .bottom {
        &__text-desc {
            display: none;
        }
    }
}