.product-card {
  position: relative;
  min-width: 219px;
  max-width: 220px;
  max-height: 330px;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  margin: 15px;
}

.product-card:hover {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
}

.product-article {
  color: grey;
  font-size: 14px;
}

.card-button {
  width: 80%;
  height: 30px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background: white;
  box-shadow: 4px 4px 8px 0px rgba(11, 19, 26, 0.2);
  cursor: pointer;
  text-transform: uppercase;
}

.card-button:hover {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
  color: rgba(0, 0, 0, 0.5);
}

.favor-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.favor-icon:hover {
  fill: rgba(255, 217, 0, 0.63);
  cursor: pointer;
}

.del-icon {
  position: absolute;
  left: 100%;
  bottom: 101%;
  cursor: pointer;

}

// .active{
//   fill: rgba(255, 217, 0, 0.63);
// }