.modal{
  position: absolute;
  left: calc(50% - (500px/2));
  width: 500px;
  height: fit-content;
  background:white;
  color: black;
  z-index: 100;
  border-radius: 8px;
  box-shadow: 4px 9px 15px 0px rgba(11, 19, 26, 0.6);
}
.modal-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  z-index: 99;
}
.modal-header{
  background: rgb(240, 236, 236);
  box-shadow: 0px 4px 8px 0px rgba(11, 19, 26, 0.3);
  border-radius: 5px;
  margin: 0;
 
}
.modal-title{
  margin: 0;
  color: black;
  font-size: 18px;
  text-align: center;
  padding: 15px 10px;
}
.modal-text{
  color: black;
  padding: 10px 15px;
  font-weight: normal;
}
