body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

.star-wars {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%; 
    margin-left: -9em;
    font-size: 7em;
    color: #FBCF00;    
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(20deg);
    overflow: hidden;
}



.container {
    position: absolute;
    top: 100%;    
    animation: container 30s linear infinite;
}
.container>.container-title {
    font-size: 90%;
    text-align: center;
}
.container>.container-title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}
.container>.container-text {
    width: 80%;
    margin: 0 auto 100px;
}
.second {
    text-align: justify;
}



@keyframes container {
    from { top: 100%; }
    to { top: -38%; }
   }