.people-about {
    height: 100%;
    background-image: url(../img/About-bg.jpg);
@include bgPosition;
min-width: 340px;

    &__title {
        @include montBold;
        font-size: 36px;
        line-height: 48px;
        color: $white;
        padding: 55px 0;
    }

    &__reviews {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    &__review {
        max-width: 290px;
        height: fit-content;
        margin-bottom: 45px;
    }

    &__reviewer-text {
        color: $white;
        margin-top: 30px;
        @include latoItal;
        font-size: 16px;
        line-height: 24px;

    }

    &__bottom-text {
        @include latoNorm;
        padding-bottom: 15px;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #A291A5;

    }
    &__reviewer-logo{
        max-width: 90%;
    }

}
