.editor {
    text-align: center;

    &__title {
        @include montBold;
        margin: 150px 0 27px 0;
        font-size: 26px;
        line-height: 28px;
        text-transform: uppercase;
        color: #635C73;
    }

    &__text {
        @include latoNorm;
        font-size: 14px;
        line-height: 20px;
        color: #323232;
    }
}

.git-btns {
    margin: 36px auto 88px;
    line-height: 2.5;
}
