.page-bg {
    max-width: 1366px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.container {
    width: 1030px;
    margin: 0 178px 0 165px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 17px;
}

.logotype-link {
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.logotype-link:hover .logo-picture {
    content: url(../img/logo2.svg);
}

.logotype-link:hover .logotype-text,
.logotype-link:hover .holidays,
.mail:hover,
.phone:hover {
    color: #F26522;
}




.logo-picture {
    position: absolute;
    padding-right: 10px;
    left: 0;
    top: 5px;
    bottom: 9px;
    width: 53px;
    height: 47px;

}

.logotype-text {
    position: absolute;
    left: 61px;
    top: 5px;
    bottom: 9px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}

.holidays {
    position: absolute;
    left: 0px;
    top: 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.nav-bar-contacts {
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}

.mail {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: white;
    text-decoration: none;
}

.phone {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: white;
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tours-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 309px;
    text-decoration: none;
    margin-bottom: 37px;
    cursor: pointer;
}

.tours-card-photo {
    /*Или же по кругу border: 2px #FFFFFF solid; */
    border-left: 2px #FFFFFF solid;
    border-right: 2px #FFFFFF solid;
    border-image: linear-gradient(180deg, rgba(255, 255, 255,1) 4%, rgba(0, 0, 0, 0) 70%);
    border-image-slice: 1;
    z-index: 2;
}

.tours-card-title {
    padding-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    z-index: 3;
}


.tours-card:hover .details-bar {
    transition: 0.2s;
    transform: scaleY(1);
}

.tours-card:hover .tours-card-title {
    color: #F26522;
}

.details-bar {
    position: absolute;
    left: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 4px);
    bottom: 38px;
    background: #F26522;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    z-index: 2;
}

.bar-price {
    padding: 7px 16px 12px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}

.price {
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;

}

.detail-link {
    position: relative;
    padding-right: 37px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;

}

.detail-link::after {
    content: '';
    width: 7px;
    height: 12px;
    position: absolute;
    left: 90px;
    right: 16px;
    bottom: 0;
    background: url(../img/Vector.svg)
}


.bottom {
    text-align: center;
}

.bottom-text {
    padding-top: 12px;
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}