.buyer-cart {
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
}

.cart-items {
  padding-top: 30px;
  width: 60vw;
  height: 630px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
}

.cart-info {
  padding-top: 30px;
  display: flex;
  text-align: left;
  font-size: 14px;
}

.cart-info form {
  margin-left: 50px;
}

.order-submit {
  min-width: 100px;
  height: 30px;
  color: black;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  margin-left: 110px;
  cursor: pointer;
  background: white;
  box-shadow: 4px 4px 8px 0px rgba(11, 19, 26, 0.2);
}

.order-submit:hover {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
  color: rgba(0, 0, 0, 0.5);
}