.main-button{
  min-width: 100px;
  height: 30px;
  color:white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}
.main-button:hover{
  font-weight: bold;
}