.container {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
}

.text-logo {
    text-align: left;
    margin-top: 61px;
}

.text-logo-link {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #000000;
}

.text-logo-link-color {
    color: #4BCAFF;
}


.navigation {
    display: flex;
    justify-content: center;
    background: #35444F;
    align-items: center;
    margin-top: 38px;


}

.navigation-btn {

    display: inline-block;
    text-align: center;
    border-left: 1px #fff solid;
    list-style: none;
    padding: 25px 0;


}

.navigation-btn:hover {
    background: #222F3A;
}

.navigation-link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    padding-left: 28px;
    padding-right: 28px;
}

.main-page {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}

.content {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    width: 885px;
    margin: 0px;
}

.main-page-menu {
    display: inline-block;
    height: fit-content;
    width: 342px;
    border: 1px #000 solid;
    text-align: left;

}

.menu-item {
    display: border-box;
    list-style: none;
    padding-left: 42px;
    padding-top: 26px;
    padding-bottom: 26px;

}

.menu-item:hover,
.menu-item-link:hover {
    background: #DBDBDB;
    color: #000;
    padding-left: 42px;

}

.menu-item-link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}

.content-ramda-logo {
    display: border-box;
    border: 1px #000 solid;
    padding: 75px 282px 75px 282px;
}

.content-text {
    text-align: left;
}

.content-text-paragraph {
    margin-top: 34px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.bottom {
    padding-top: 54px;
}

.bottom-menu-items {
    display: flex;
    justify-content: space-between;
    background: #B5B7BA;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items:center;

}

.bottom-menu-item {
    display: inline-block;
    list-style: none;
}

.bottom-menu-item-link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;

}

.bottom-menu-item-link:hover{
    color: #3181A6;
    padding-bottom: 10px;
    border-bottom: 1px #3181A6 solid;
}

.bottom-text {
    padding-left: 82px;
    padding-right: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}