.ok-button{
  min-width: 100px;
  height: 30px;
  color:black;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;

  background: white;
  box-shadow: 4px 4px 8px 0px rgba(11, 19, 26, 0.2);
}
.ok-button:hover{
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
  color: rgba(0, 0, 0, 0.5);
}
.cancel-button{
  min-width: 100px;
  height: 30px;
  color:black;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;

  background: white;
  box-shadow: 4px 4px 8px 0px rgba(11, 19, 26, 0.2);
}
.cancel-button:hover{
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
  color: rgba(0, 0, 0, 0.5);
}