.character {
  width: 30%;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__name {
    color: #000;
    font-size: 14px;
    font-style: italic;
  }

  &__gender {
    color: #000;
    font-size: 14px;
  }

  &__birth {
    color: #000;
    font-size: 14px;
  }
}