.film {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;

  &__item {
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__title {
    font-size: 25px;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  &__episode {
    font-size: 20px;
    font-style: normal;
    color: #413d3de6;
    text-align: center;
    margin: 10px;
  }

  &__description-short {
    font-size: 19px;
    color: black;
    margin-bottom: 30px;
  }
  &__characters-block {
    color: #fff;
    font-size: 20px;
  }

  &__characters-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

  }
}