
@import "film";
@import "character";


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
}

.container {
  width: 100%;
  min-height: 1200px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 1rem 0;
  font-family: 'Arial';
}

.result {
  line-height: 2rem;
  font-weight: 600;
  list-style: disc;
}

.result-list {
  padding-left: 30px;
}

.result-list__element {
  color: #000;
  font-style: italic;
  font-weight: 300;
}

