*
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
}

.btn
{
    width: 200px;
    margin: 50px auto;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid transparent;
    color: white;
    background: linear-gradient(#e66465, #9198e5);
  
}

.result
{
  width: fit-content;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin: 0 auto;
}
li {
  list-style-type: none;
}



